{% extends "bookstore/base.html" %}

{% block content%}
<div class="back-image">
    <h1>myBOOKSTORE</h1>
</div>
<div class="content">
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae sunt error voluptatum, illo architecto
        reiciendis dolor quod autem animi dolores quaerat saepe sapiente magni! Dolorem praesentium minus sed
        excepturi deserunt.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aliquam saepe quam nesciunt minus, eius
        labore dignissimos odio ullam esse sed sint quasi at officiis sit eveniet repellendus. Sapiente, vitae.Ea
        ratione mollitia ullam soluta placeat hic, debitis dolorum officia deleniti et repellendus tempora
        laboriosam repudiandae pariatur enim fugit accusamus reiciendis consequatur quod cumque odit illo.
        Accusantium, nihil deserunt! Possimus.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias vero distinctio omnis enim, architecto
        assumenda a optio placeat corrupti consectetur eveniet, soluta laboriosam ad consequatur quod sit at fuga
        facilis.</p>
</div>


<!-- <a href="#" class="scroll-to-top"><i class='far fa-arrow-alt-circle-up'></i></a> -->

<!-- <script src="./scripts.js"></script> -->
{%endblock content%}